@import url("highlight.css");

body {
    background-size: contain; /* ? weird bug */
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.75rem;
}

h2, h3, h4 {
    color: var(--text);
    text-indent: 10px;
}

p { margin-left: 10px; }

li {
    color: var(--text);
    list-style: "- ";
}

pre {
    width: clamp(250px, calc(100vw - 95px), 935px);
    overflow-x: scroll;
    border: 2px solid #6c7086;
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
}

img {
    /* https://stackoverflow.com/a/47288901 */
    display: block;
    margin: 0 auto 0;
    max-width: 480px;
    width: 80%;    
}

li > p > a { word-break: break-all; }

#article > div {
    width: 100%;
    padding: 20px;
}

p > code {
    padding: 0.25rem;
    font-size: 0.8rem;
    background-color: #11111b;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--text);
}

td, th {
    color: var(--text);
    padding: 5px 10px 5px;
    border: 2px solid var(--text);
    font-family: '0xProto';
}